{% extends 'labs_app/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    
    {% if topics %}
        <div style="display: flex; flex-wrap: wrap; gap: 20px;">
            {% for topic in topics %}
                <div style="border: 1px solid #ccc; padding: 15px; border-radius: 8px; width: 250px;">
                    <h3>{{ topic.title }}</h3>
                    <p>Категорія: <b>{{ topic.category.name }}</b></p>
                    <small>Створено: {{ topic.created_at|date:"d.m.Y" }}</small>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>У цій категорії поки немає елементів.</p>
    {% endif %}
{% endblock %}